<h3><img src="https://sistema.rjfotografias.com.br/assets/uploads/logos/logo-email.png" alt="RJ Fotografias"></h3>
<p>
    Oláaa! {contact_person}.<br/>
    Ficamos felizes por seu agendamento!!!<br/><br/>

    Você está recebendo este e-mail porque realizou um agendamento de ensaio com a RJ Fotografias.<br/><br/>

    Segue anexo seu e-ticket do ensaio com todas informações importantes. <br/><br/>

    ⚠️ATENÇÃO ⚠️<br/>
    Se você realizou o pagamento via cartão de crédito desconsidere as informações de depósito!<br/><br/>

    Para pagamento via depósito/transferência, segue abaixo os dados bancários para pagamento. <br/>
    Por gentileza nos enviar o comprovante do pagamento via whatsapp<br/> para o número (48) 9 9640-2141. <br/><br/>

    •Caixa Economica Federal (104)<br/>
    Código de Operação: 013<br/>
    Agência: 1874<br/>
    Conta corrente: 00060094-3<br/>
    Favorecido: José Ricardo Santos da Silva<br/>
    CPF: 123.322.524-36<br/>
</p>

<p>

</p>

<p>
    <strong> Observações de Natal</strong><br>
</p>
<p>
    • 40 minutos de sessão
</p>
<p>
    • 2 trocas de roupas
</p>
<p>
    <strong> Atraso • Reagendamento •</strong>
</p>
<p>
    • 10 minutos de tolerância. Passado desse tempo, a sessão será remarcada.
</p>
<p>
    • Reagendamento 5 dias de antecedência. Multa de R$30,00 caso descumpra o combinado
</p>
<p>
    <strong> Cancelamento</strong>
</p>
<p>
    • Será devolvido 50% do valor.
</p>
<p>
    <strong> Prazo de entrega</strong><br>
    • 12 dias após selecionar as fotos no site.
</p>

<p>
    Qualquer dúvida, a equipe Rj Fotografias encontra-se a disposição para esclarecimentos.<br/>

    📸 ❤ 🚀<br/>

    --<br/>
    Atenciosamente,<br/><br/>

    Ricardo & Jhonata | RJ Fotografias <br/>
    whatsapp (48) 9 9640-2141  <br/>
    email: coelhojhonata1@gmail.com<br/>
</p>