<h3><img src="https://sistema.rjfotografias.com.br/assets/uploads/logos/logo-email.png" alt="RJ Fotografias"></h3>
<p>
    Oláaa! {contact_person}. <br/>
    Infelizmente sua reserva foi cancelada!!!<br/><br/>

    Você está recebendo este e-mail porque seu ensaio com a RJ Fotografias foi cancelado.<br/><br/>

    Segue anexo seu e-ticket do ensaio com todas informações importantes sobre o agendamento cancelado. <br/><br/>
</p>
<p>
    <strong> Observações de Natal</strong><br>
</p>
<p>
    • 40 minutos de sessão
</p>
<p>
    • 2 trocas de roupas
</p>
<p>
    <strong> Atraso • Reagendamento •</strong>
</p>
<p>
    • 10 minutos de tolerância. Passado desse tempo, a sessão será remarcada.
</p>
<p>
    • Reagendamento 5 dias de antecedência. Multa de R$30,00 caso descumpra o combinado
</p>
<p>
    <strong> Cancelamento</strong>
</p>
<p>
    • Será devolvido 50% do valor.
</p>
<p>
    <strong> Prazo de entrega</strong><br>
    • 12 dias após selecionar as fotos no site.
</p>

<p>
    Qualquer dúvida, a equipe Rj Fotografias encontra-se a disposição para esclarecimentos.<br/>

    📸 ❤ 🚀<br/>

    --<br/>
    Atenciosamente,<br/><br/>

    Ricardo & Jhonata | RJ Fotografias <br/>
    whatsapp (48) 9 9640-2141  <br/>
    email: coelhojhonata1@gmail.com<br/>
</p>