<h3><img src="https://sistema.rjfotografias.com.br/assets/uploads/logos/logo-email.png" alt="RJ Fotografias"></h3>
<p>
    Oláaa! {contact_person}.<br/>
    Infelizmente sua reserva foi cancelada!!!<br/><br/>

    Você está recebendo este e-mail porque seu ensaio com a RJ Fotografias foi cancelado. <br/>
    Houve um erro ao processar seu pagamento com o PagSeguro.<br/><br/>
</p>

<p>
    Qualquer dúvida, a equipe Rj Fotografias encontra-se a disposição para esclarecimentos.<br/>

    📸 ❤ 🚀<br/>

    --<br/>
    Atenciosamente,<br/><br/>

    Ricardo & Jhonata | RJ Fotografias <br/>
    whatsapp (48) 9 9640-2141  <br/>
    email: coelhojhonata1@gmail.com<br/>
</p>