#onibus-ida-frente {
	background-position: center; width: 352px; height: 145px; float: left; background-repeat: no-repeat;
}
#onibus-ida-bg {
	background-position: center; width: 352px; height: auto; text-align: center; float: left; background-image: url("./images/onibus-bg.png"); background-repeat: repeat-y;
}
#onibus-ida-traseira {
	background-position: center; width: 352px; height: 65px; margin-bottom: 15px; float: left; background-image: url("./images/onibus-traseira.png"); background-repeat: no-repeat;
}
#onibus-volta-frente {
	background-position: center; width: 352px; height: 145px; float: left; background-image: url("./images/onibus-frente.png"); background-repeat: no-repeat;
}
#onibus-volta-bg {
	background-position: center; width: 352px; height: auto; float: left; background-image: url("./images/onibus-bg.png"); background-repeat: repeat-y;
}
#onibus-volta-traseira {
	background-position: center; width: 352px; height: 65px; margin-bottom: 15px; float: left; background-image: url("./images/onibus-traseira.png"); background-repeat: no-repeat;
}
#bus_mapa {
	background-position: center; width: 900px; height: 221px; margin-bottom: 35px; float: left; background-image: url("/astorbr-li/imgs/bus.gif"); background-repeat: no-repeat;
}
td.ocupada {
	width: 36px; height: 34px; color: rgb(255, 255, 255); text-indent: 9px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: pointer; background-image: url("./images/poltrona-ocupada.png"); background-repeat: no-repeat;
}
td.seleccionada {
	width: 36px; height: 34px; color: rgb(255, 255, 255); text-indent: 9px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: pointer; background-image: url("./images/poltrona-selecionada.png"); background-repeat: no-repeat;
}
td.libre {
	width: 36px; height: 34px; color: rgb(255, 255, 255); text-indent: 9px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: pointer; background-image: url("./images/poltrona-livre.png"); background-repeat: no-repeat;
}
td.vacia {
	width: 10px; color: rgb(255, 255, 255); text-indent: 9px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: pointer; background-repeat: no-repeat;
}
#buss table tr td {
	margin: 0px; padding: 0px; width: 550px; float: left;
}
#buss table {
	width: 550px; text-align: center; margin-top: 15px; margin-left: 30px; float: left;
}
#buss table tr td {
	height: 40px; float: left;
}
#tabela_servicio {
	width: 900px; height: 40px; font-weight: bold; margin-bottom: 25px; float: left;
}
