.wrap {
	margin: 0px auto; width: 730px;
}
#header .wrap {
	margin: 0px auto; max-width: 780px;
}
#header #logos {
	max-width: 730px;
}
#header #logos li {
	padding: 0px 15px; height: 41px; border-right-color: rgb(224, 223, 223); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block;
}
#header #logos li:last-child {
	border: 0px currentColor; border-image: none;
}
#header #logos li#l-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 106px;
}
#header #logos li#l-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -56px; width: 106px;
}
#header #logos li#l-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -77px; width: 99px;
}
#header #logos li#l-expresso-sul {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 7px -99px; width: 101px;
}
#header #logos li#l-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 22px -142px; width: 58px;
}
#header #logos li#l-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -178px; width: 74px;
}
#header #logos li#l-1001 {
	background-size: 350%;
}
#header #logos li#l-cometa {
	background-size: 371%;
}
#header #logos li#l-catarinense {
	background-size: 306%;
}
#header #logos li#l-expresso-sul {
	background-size: 262%;
}
#header #logos li#l-rrp {
	background-size: 404%;
}
#header #logos li#l-macaense {
	background-size: 347%;
}
span.l-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
span.l-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
span.l-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -120px; width: 149px;
}
span.l-expresso-sul {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -180px; width: 210px;
}
span.l-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
span.l-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -300px; width: 149px;
}
#header form {
	display: none;
}
#header .logged {
	background: url("../../../imagens/pt/bg-logged.png") no-repeat left top; width: 406px; height: 48px; padding-left: 100px; clear: both; margin-top: 0px; float: right;
}
#header .logged {
	color: rgb(99, 99, 99); line-height: 48px; font-size: 14px;
}
#header .logged span {
	margin: 0px 20px;
}
#header .logged a:hover {
	text-decoration: underline;
}
#header .logged a.your-name {
	color: rgb(99, 99, 99); font-weight: 500;
}
#header .logged a.logout {
	color: rgb(38, 165, 218); font-weight: 400;
}
#area-select {
	overflow: hidden;
}
#area-select .wrap {
	width: 100% !important;
}
#area-select #webdoor {
	width: 100%; height: 381px; display: block; background-size: 100%;
}
#area-select #select-trip {
	background: rgb(41, 175, 226); margin: -75px auto 10px; overflow: visible; display: block; min-height: 100px; max-height: 242px; max-width: 726px;
}
#select-trip #selects {
	background: rgb(41, 175, 226); width: 726px; float: left; min-height: 90px; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px;
}
#select-trip .logged-choose#selects {
	width: 100%; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; min-height: 0px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#select-trip #login {
	background: rgb(18, 135, 179); border-width: 1px 1px 1px 2px; border-style: solid; border-color: rgb(18, 135, 179) rgb(18, 135, 179) rgb(18, 135, 179) rgb(15, 127, 169); border-image: none; width: 161px; height: 241px; float: right; border-top-right-radius: 10px; border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px;
}
#select-trip #login h2 {
	margin: 24px 0px 7px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; font-weight: 300;
}
#select-trip #login .login-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; width: 109px; height: 28px; color: rgb(54, 54, 54); font-size: 14px; font-weight: 300; display: block;
}
#select-trip #login .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -12px; margin: 20px auto; border: 0px currentColor; border-image: none; width: 120px; height: 40px; display: block; cursor: pointer;
}
#select-trip #login a {
	margin: 5px 0px 5px 23px; color: rgb(255, 255, 255); clear: both; font-size: 11px; display: block;
}
#select-trip #login a:hover {
	text-decoration: underline;
}
.round-inner-shadow {
	border-radius: 5px; box-shadow: inset 7px 7px 5px 0px rgba(50,50,50,0.2); -webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.round-inner-shadow.error {
	border-radius: 5px; border: 1px solid rgb(255, 0, 0) !important; border-image: none !important; box-shadow: inset 7px 7px 5px 0px rgba(50,50,50,0.2); -webkit-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow: inset 7px 7px 5px 0px rgba(50, 50, 50, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#selects ul#tabs li {
	width: 240px; height: 55px; color: rgb(255, 255, 255); line-height: 55px; font-size: 15px; float: left; display: inline-block;
}
#select-trip .logged-choose#selects ul#tabs li {
	width: 240px;
}
#selects ul#tabs li a {
	color: rgb(255, 255, 255);
}
#selects ul#tabs li a:hover {
	text-decoration: underline;
}
#selects .buy-tickets {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
}
#selects .shopping-cart {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor;
}
#selects .history {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor;
}
#selects span.icon {
	width: 30px; height: 30px; margin-left: 12px; float: left; display: block;
}
#selects .buy-tickets span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -150px -95px; margin-top: 17px;
}
#selects .shopping-cart span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -179px -64px; margin-top: 17px;
}
#selects .history span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -60px; margin-top: 17px;
}
#select-trip .logged-choose#selects ul#tabs li.history {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#selects ul#tabs li.active {
	background: rgb(41, 175, 226); border-color: rgb(41, 175, 226);
}
#selects .tab {
	width: 726px; overflow: hidden;
}
#selects .tab ul.type {
	margin: 15px 20px; overflow: hidden; font-size: 11px;
}
#selects .tab ul.type li {
	margin: 0px 5px; float: left; display: inline-block;
}
#selects .tab ul.type li a {
	padding: 5px 20px; border-radius: 15px; border: 1px solid rgb(41, 175, 226); color: rgb(255, 255, 255); overflow: hidden; display: block; -webkit-border-radius: 15px; -moz-border-radius: 15px;
}
#selects .tab ul.type li a.active {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects .tab ul.type li a:hover {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects #places {
	margin: 10px 0px;
}
#selects #places {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #dates {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #places label {
	width: 305px; float: left; display: block;
}
#selects #dates label {
	width: 305px; float: left; display: block;
}
#selects #places p {
	width: 223px; font-size: 16px;
}
#selects #dates p {
	width: 223px; font-size: 16px;
}
#selects .date-field {
	width: 279px; height: 28px;
}
#selects .select-field {
	width: 300px; height: 40px;
}
#selects .select-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-size: 14px; float: left; display: block;
}
#selects .date-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-size: 14px; float: left; display: block;
}
#selects .separator {
	border-style: solid; margin: 0px 25px; width: 1px; height: 69px; border-right-color: rgb(69, 185, 231); border-left-color: rgb(41, 149, 199); border-right-width: 1px; border-left-width: 1px; float: left; display: block;
}
#selects .btn-locate {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -61px; margin: 0px 23px 12px; border: 0px currentColor; border-image: none; width: 136px; height: 45px; float: right; display: block; cursor: pointer;
}
#content {
	width: 100%; overflow: hidden; min-height: 210px;
}
#content h1.home {
	line-height: 40px;
}
#content h1 {
	margin: 24px 0px 5px; color: rgb(1, 138, 188); font-size: 37px;
}
.internal#content {
	padding-bottom: 50px;
}
.internal#content h1.select {
	margin: 40px 0px 20px; text-align: center;
}
.internal#content h1 {
	margin: 40px 0px 20px; text-align: center; color: rgb(1, 138, 188); font-size: 24px;
}
.internal#content h1.voucher {
	color: rgb(1, 138, 188); font-size: 30px;
}
.internal#content h2.voucher {
	margin: 0px 0px 20px; text-align: center; color: rgb(1, 138, 188); font-size: 24px;
}
.internal#content h2.voucher span {
	color: rgb(246, 24, 1); font-weight: 500;
}
.internal#content h5 {
	margin: 80px 0px 20px; color: rgb(112, 112, 112); font-size: 24px;
}
.internal#content h6 {
	color: rgb(48, 166, 196); font-size: 18px;
}
.internal#content h6 span {
	color: rgb(112, 112, 112);
}
.internal#content h6.info {
	color: rgb(48, 166, 196); font-size: 18px;
}
.internal#content p.buy-info {
	color: rgb(85, 85, 85); line-height: 21px; font-size: 16px; margin-top: 20px;
}
.internal#content table.voucher {
	margin: 20px 0px 50px;
}
.internal#content table.voucher thead tr th {
	padding: 10px 0px; text-align: left; color: rgb(54, 54, 54); font-size: 16px;
}
.internal#content table.voucher tbody tr td {
	padding: 5px 0px; text-align: left; color: rgb(137, 137, 137); font-size: 18px;
}
#content h3 {
	text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-weight: 300; margin-top: 20px;
}
#content h3 a {
	color: rgb(48, 166, 196);
}
#content .box-relacionamento {
	margin: 0px auto; width: 100%; overflow: hidden; clear: both; float: none;
}
#content .texto {
	margin: 20px 0px; line-height: 21px; font-size: 16px; display: none; position: relative;
}
#content .texto ol li {
	list-style: circle; margin: 5px 30px;
}
#content .texto p {
	margin: 20px 0px;
}
#content span.logo-voucher {
	margin: 50px auto 30px; padding: 0px 15px; height: 60px; display: block;
}
#content h6 {
	font-size: 16px;
}
.internal#content p.center {
	text-align: center;
}
.internal#content p.full-center {
	text-align: center;
}
.internal#content p.full-center {
	text-align: center;
}
.internal#content p.order {
	margin: 50px auto; text-align: center; font-size: 16px;
}
.internal#content p.order span {
	clear: both; font-size: 24px; display: block;
}
.internal#content a.go-login {
	margin-top: 40px;
}
#content p.normal {
	margin: 40px 0px; font-size: 18px;
}
#content .box-register-full {
	margin: 0px auto; padding: 25px; width: 600px; overflow: hidden;
}
#content .box-register-full p {
	line-height: 20px; font-size: 14px;
}
#content .box-register-full p span {
	font-size: 12px;
}
#content .box-register-full h3 {
	margin: 20px 0px; clear: both; font-size: 24px;
}
#content .box-register-full .holder {
	overflow: hidden; margin-bottom: 50px;
}
#content .box-register-full .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#card-info .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#content .box-register-full .select-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 282px; height: 40px; float: left;
}
#content #square-home {
	margin: 20px auto; max-width: 600px;
}
#square-home li {
	margin: 0px 10px 10px 0px; width: 288px; height: 181px; overflow: hidden; float: left; display: inline-block;
}
#square-home li:nth-child(3n-1) {
	margin: 0px 10px 10px 0px; width: 288px; height: 181px; overflow: hidden; float: left; display: inline-block;
}
#square-home li h1 {
	margin: 25px 0px 5px 21px; color: rgb(255, 255, 255); font-size: 21px;
}
#square-home li h2 {
	margin: 0px 0px 0px 21px; width: 215px; color: rgb(255, 255, 255); font-size: 27px;
}
#content .btn-cancel {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -480px; width: 89px; height: 28px; margin-right: 15px; vertical-align: baseline; float: left; display: inline-block;
}
#content .reprint {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -511px; width: 89px; height: 28px; vertical-align: baseline; float: left; display: inline-block;
}
#content .table-list {
	margin: 20px 0px;
}
#content .table-list thead tr {
	background: rgb(35, 158, 212); height: 36px;
}
#content .table-list thead tr th {
	padding: 0px 10px; text-align: left; line-height: 36px; overflow: hidden; font-size: 18px;
}
#content .table-list tbody tr {
	height: 36px; line-height: 36px;
}
#content .table-list tbody tr td {
	padding: 0px; color: rgb(112, 112, 112); overflow: hidden;
}
#current-trips {
	margin: 45px auto; width: 730px; float: none;
}
#payment-info {
	margin: 45px auto; width: 730px; float: none;
}
#current-trips .available-trips {
	margin: 0px 10px 20px 0px; width: 351px; float: left;
}
#current-trips .available-trips h3 {
	margin: 40px 10px; font-size: 18px;
}
#current-trips .trip-dates {
	height: 63px; overflow: hidden;
}
#current-trips .trip-dates .prev {
	background-position: -154px -406px; width: 20px; height: 20px; margin-top: 23px; float: left; display: block; background-repeat: no-repeat;
}
#current-trips .trip-dates .next {
	background-position: -184px -406px; width: 20px; height: 20px; margin-top: 23px; float: right; display: block; background-repeat: no-repeat;
}
#current-trips .trip-dates ul {
	
}
#current-trips .trip-dates ul.cart {
	margin: 0px auto; width: 118px; overflow: hidden; display: block;
}
#current-trips .trip-dates ul li {
	width: 97px; height: 44px; text-align: center; padding-top: 18px; font-size: 12px; font-weight: 300; float: left; display: inline-block;
}
#current-trips .trip-dates ul li.active {
	background: rgb(21, 168, 214); width: 115px;
}
#current-trips .trip-dates ul li span {
	clear: both; font-size: 15px; font-weight: 400; margin-top: 5px; display: block;
}
#current-trips .trip-destiny {
	font-size: 14px;
}
#current-trips .trip-destiny strong {
	font-weight: 700;
}
#current-trips .trip-legend {
	width: 100%; height: 30px; overflow: hidden; font-size: 10px;
}
#current-trips .trip-legend span {
	margin: 0px 2px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; float: left; display: block;
}
#current-trips .trip-legend span:nth-child(1) {
	width: 48px;
}
#current-trips .trip-choose .line span:nth-child(1) {
	width: 48px;
}
#current-trips .trip-legend span:nth-child(2) {
	width: 44px;
}
#current-trips .trip-choose .line span:nth-child(2) {
	width: 44px;
}
#current-trips .trip-legend span:nth-child(3) {
	width: 47px;
}
#current-trips .trip-choose .line span:nth-child(3) {
	width: 47px;
}
#current-trips .trip-legend span:nth-child(4) {
	width: 79px;
}
#current-trips .trip-choose .line span:nth-child(4) {
	width: 79px;
}
#current-trips .trip-legend span:nth-child(5) {
	width: 51px;
}
#current-trips .trip-choose .line span:nth-child(5) {
	width: 51px;
}
#current-trips .trip-legend span:nth-child(6) {
	width: 57px;
}
#current-trips .trip-choose .line span:nth-child(6) {
	width: 57px;
}
#current-trips .trip-choose .line span.small-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -47px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-expresso {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -66px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -25px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -90px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose {
	background: rgb(226, 226, 226); width: 100%; font-family: "Roboto", sans-serif; font-size: 10px; font-weight: 300;
}
#current-trips .trip-choose .line {
	width: 100%; height: 66px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
#current-trips .trip-choose .line span {
	margin: 0px 2px; height: 66px; text-align: center; line-height: 66px; float: left; display: block;
}
a.tooltip {
	color: rgb(54, 54, 54); display: inline; position: relative;
}
a.tooltip div {
	padding: 10px; border-radius: 6px; width: 116px; height: auto !important; text-align: left; color: rgb(56, 106, 129); line-height: 13px; visibility: hidden; position: absolute;
}
a.tooltip div::after {
	left: 50%; width: 0px; height: 0px; bottom: 100%; margin-left: -8px; position: absolute; content: "";
}
a.tooltip:hover div {
	left: 80%; top: 23px; margin-left: -76px; visibility: visible; z-index: 999; opacity: 1;
}
a.tooltips {
	top: 18px; display: inline; position: relative;
}
a.tooltips div {
	padding: 20px; border-radius: 6px; width: 250px; height: auto !important; text-align: center; color: rgb(56, 106, 129); display: none; position: absolute;
}
.tooltips div p {
	line-height: 21px; font-size: 16px; margin-bottom: 5px;
}
a.tooltips div::after {
	left: 50%; top: 100%; width: 0px; height: 0px; margin-left: -8px; border-top-color: rgb(88, 196, 244); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 8px; border-left-width: 8px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
a.tooltips:hover div {
	left: 0%; bottom: 30px; margin-left: -76px; display: block; z-index: 999;
}
#current-trips .trip-choose .line span input {
	margin-top: 27px;
}
#current-trips p.message {
	text-align: center;
}
#current-trips p.message strong {
	font-weight: 500;
}
#shopping-cart-holder {
	margin: 0px auto; padding: 0px 50px; width: 245px; float: none; display: block;
}
#shopping-cart {
	background: url("../../../imagens/pt/cart-big.png") no-repeat 96px 62px rgb(21, 86, 119); width: 245px; overflow: hidden; min-height: 251px;
}
#shopping-cart h4 {
	margin: 22px 0px 80px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 18px;
}
#shopping-cart .item {
	margin: 0px 15px 20px; text-align: left; color: rgb(255, 255, 255); font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300;
}
#shopping-cart .item span {
	margin: 0px 50px 5px; clear: both; display: block;
}
#shopping-cart .item span.price {
	font-size: 14px; font-weight: 400;
}
#shopping-cart .item span.price strong {
	font-weight: 500;
}
#shopping-cart .cart-total {
	margin: 10px 0px; padding: 25px 0px; text-align: center; font-size: 16px; display: block;
}
#shopping-cart .cart-total strong {
	font-weight: 700;
}
#shopping-cart p.insurance {
	margin: 40px 10px; text-align: left; color: rgb(255, 255, 255); line-height: 14px; font-size: 11px;
}
#shopping-cart p.insurance input {
	margin-bottom: 30px; float: left; display: block;
}
#shopping-cart a.finish-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -115px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart a.go-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -255px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
a.go-login {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -255px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart a.back-shop {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -162px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart-holder a.clear-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -206px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
.delete-seat {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -431px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 102px; height: 45px; display: block; cursor: pointer;
}
.delete-seat-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -386px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 135px; height: 45px; display: block; cursor: pointer;
}
.line-out {
	width: 100%; height: 43px; font-size: 11px;
}
#payment-info #portion {
	width: 149px;
}
#box-login {
	width: 339px; margin-right: 10px;
}
#box-register {
	background: rgb(221, 221, 221); width: 349px; height: 259px; float: left;
}
#box-login h2 {
	width: 100%; line-height: 41px; font-size: 18px; margin-bottom: 30px;
}
#box-register h2 {
	width: 100%; line-height: 41px; font-size: 18px; margin-bottom: 30px;
}
#box-register p {
	margin: 15px 0px 20px 20px; font-size: 18px;
}
#box-login input.field {
	margin: 5px auto; padding: 5px 10px; height: 28px; font-size: 14px; display: block;
}
#box-register input.field {
	margin: 5px auto; padding: 5px 10px; height: 28px; font-size: 14px; display: block;
}
#box-login input.field {
	width: 287px;
}
#box-register input.field {
	width: 287px;
}
#box-login .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") -224px -302px; margin: 20px auto 5px; border: 0px currentColor; border-image: none; width: 108px; height: 45px; display: block; cursor: pointer;
}
#box-login a {
	margin: 0px auto; text-align: center; font-size: 12px; display: block;
}
#box-register .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#content .box-register-full .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#bottom-menu {
	background: url("../../../imagens/pt/bg-bottom-menu.jpg"); width: 100%; height: 52px; margin-bottom: 50px; display: block; box-shadow: 0px 6px 10px 0px rgba(50,50,50,0.25); -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25);
}
#bottom-menu ul {
	margin: 15px auto 0px; width: 600px;
}
#bottom-menu ul li {
	padding: 0px 20px; line-height: 16px; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; display: inline-block;
}
#bottom-menu ul li:last-child {
	border: 0px currentColor; border-image: none;
}
#bottom-menu ul li a {
	font-size: 16px; vertical-align: middle;
}
#bottom-menu ul li a:hover {
	text-decoration: underline;
}
#bottom-menu ul li a span {
	width: 30px; height: 25px; margin-right: 10px; float: left; display: block;
}
#bottom-menu ul li a span.bag {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -179px -5px; float: left;
}
#bottom-menu ul li a span.balloon {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -7px; float: left;
}
#bottom-menu ul li a span.operator {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -32px; margin-top: 0px; float: left;
}
#footer #payment-methods {
	margin: 0px auto; float: none;
}
#footer #security {
	margin: 0px auto; float: none;
}
.passenger-name {
	width: 480px;
}
.alert {
	width: 380px;
}
.confirm {
	width: 380px;
}
